<section class="home-hero">
  <link href='https://fonts.googleapis.com/css?family=Raleway:500,400,300,200,100' rel='stylesheet' type='text/css'>
  <div class="container">
    <div class="content">
      <h1 class="title">Paul DEBRIL</h1>
      <p class="desc">Développeur full-stack</p>
        <div>
          <a href="https://www.linkedin.com/in/paul-debril-5a3a7122b/" target="_blank" title="LinkedIn">
            <fa-icon [icon]="faLinkedin"class="fa-3x" style="color: rgb(0, 0, 0); margin-right: 15px;"></fa-icon>
          </a>
          <a href="https://github.com/PaulDebril" target="_blank" title="GitHub">
            <fa-icon [icon]="faGithub" class="fa-3x" style="color: rgb(0, 0, 0); margin-right: 15px;"></fa-icon>
          </a>
          <a href="path_to_your_cv.pdf" download="Paul_DEBRIL_CV">
            <fa-icon [icon]="faFileAlt" class="fa-3x" style="color: rgb(0, 0, 0); margin-right: 15px;"></fa-icon>
          </a>
        </div>
    </div>
    <div class="profile-pic">
      <img src="../../assets/images/moi.jpg" alt="Paul DEBRIL">
    </div>
  </div>
</section>
