section{
    font-family: Raleway;
    overflow:hidden;
    width:100%;
    height:100%;
    position:absolute;
  }

  fa-icon:hover {
    color: #838383;  /* Couleur au survol */
  }

  
  .container  {
    width:100%;
    height:100%;
    position:absolute;
    display: flex;
    justify-content: space-between; /* Répartition équitable de l'espace entre les éléments */
    align-items: center; /* Centrage vertical des éléments */
  }

  h1.title {
    color:rgb(0, 0, 0);
    font-size: 3.5vw;
    display:inline;
    font-weight:500;
  }
  p.desc{
    position:relative;
    width:100%;
    font-size:3vw;
    color:rgb(0, 0, 0);
    font-weight: 200;
    margin-bottom:40px;
  }

  .blur {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
  }
  .blurTop{
    left:40%;
    top:-110%;
    transform:rotate(20deg);
    transform-origin: 0 100%;
  }
  .blurBottom{
    left:-60%;
    top:100%;
    transform:rotate(20deg);
    transform-origin: 100% 0%;
  }

.home-hero {
    background: linear-gradient(to right,rgba(248,249,250,.8),rgba(248,249,250, 0.83)),url(../../assets/images/common-bg.svg);
    background-position: center;
    height: 30vh;
    min-height: 65rem;
    max-height: 120rem;
    position: relative;
    display: flex;
    align-items: center; /* Alignement vertical des enfants */
    justify-content: center; /* Centrage du contenu à l'intérieur */
    height: 100vh; /* Hauteur de la fenêtre de visualisation */
    font-family: 'Raleway', sans-serif; /* Police Raleway de Google Fonts */
}

/* Section pour l'image de profil */
.profile-pic {
  width: 50%; /* La moitié de la largeur pour l'image */
  display: flex;
  justify-content: right; /* Centre l'image horizontalement */
  align-items: right; /* Centre l'image verticalement */
}

/* Image de profil */
.profile-pic img {
  width: 70%; /* Largeur de l'image ajustée à 80% de son conteneur */
  height: auto; /* Hauteur automatique pour maintenir le ratio */
  border-radius: 50%; /* Rend l'image ronde */
  border: 4px solid white; /* Bordure blanche autour de l'image */
  object-fit: cover; /* Assure que l'image remplit bien l'espace */
}