<section class="home-hero">
    <link href='https://fonts.googleapis.com/css?family=Raleway:500,400,300,200,100' rel='stylesheet' type='text/css'>
    <canvas class="container" id="container" role="main"></canvas>
      <div class="content">
        <h1 class="title">Paul DEBRIL</h1>
        <p class="desc">Full-stack developer</p>
         <ul class="contact">
            <li><a target="_top" href="https://twitter.com/JonasBadalic">Github</a></li>
            <li><a target="_top" href="https://si.linkedin.com/in/jonasbadalic">LinkedIn</a></li>
          </ul>
      </div>
    <div class="blur blurTop"><canvas class="canvas"id="blurCanvasTop"></canvas></div>
    <div class="blur blurBottom"><canvas width="1000px" height="1000px" class="canvas" id="blurCanvasBottom"></canvas></div>
  </section>
