<section id="about" class="bg-light py-4 py-md-5" >
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">À propos de moi</h2>
        <hr class="w-50 mx-auto mb-6 mb-xl-9 border-dark-subtle">
        <p class="text-secondary mb-5 text-center lead fs-4" style="margin-bottom: 15px !important;">
          Étudiant en troisième année de Bachelor Universitaire de Technologie (BUT) Informatique à l'IUT de Calais, 
          je suis actuellement en alternance chez Aloatec. Passionné d'informatique avec une forte inclinaison pour le développement web, 
          j'ai développé une expertise technique en créant et optimisant des applications web durant mon alternance.
        </p>
        <div class="soft-skills-tags text-center">
          <span class="badge bg-secondary fs-6 m-2">Travail d'équipe</span>
          <span class="badge bg-secondary fs-6 m-2">Gestion de projet</span>
          <span class="badge bg-secondary fs-6 m-2">Adaptabilité</span>
        </div>
      </div>
    </div>
  </div>
</section>
