<section id="about" class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">A propos de moi</h2>
        <hr class="w-50 mx-auto mb-6 mb-xl-9 border-dark-subtle">
        <p class="text-secondary mb-5 text-center lead fs-4">
          Étudiant en troisième année de Bachelor Universitaire de Technologie (BUT) Informatique à l'IUT de Calais, 
          je suis actuellement en alternance chez Aloatec. Passionné d'informatique avec une forte inclinaison pour le développement web, 
          j'ai développé une expertise technique en créant et optimisant applications web durant mon alternance. 
        </p>
      </div>
    </div>
  </div>
  </section>