<section id="about" class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">A propos de moi</h2>
        <hr class="w-50 mx-auto mb-6 mb-xl-9 border-dark-subtle">
        <p class="text-secondary mb-5 text-center lead fs-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum arcu nisl, sagittis a ullamcorper a, gravida vel ligula. Nulla tincidunt, 
          lacus ut suscipit consequat, massa sapien fermentum nisi, gravida tempus est quam pretium dolor. Aenean non odio id massa gravida sollicitudin vel ac tortor. 
          Maecenas ultrices metus sed sapien mattis, vel egestas nunc malesuada. Donec vel elit sed nibh tristique congue. Etiam et ex id arcu tempor tempor. 
          Cras tincidunt quam leo, a consectetur dolor sollicitudin et. Vestibulum vitae maximus quam. Nulla facilisi. Proin vel fringilla qua
        </p>
      </div>
    </div>
  </div>
  </section>