.navbar {
    box-shadow: 0 10px 100px rgba(0,0,0,.1);
    z-index: 1;
}

.navbar-brand img {
    border-radius: 50%;
}

.nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}