<header class="header">
    <div class="header_content">
      <div class="header_logo-container">
        <div class="header_logo-img-cont">
          <img src="https://placehold.co/35x35" alt="Logo Image" class="header_logo-img">
        </div>
        <span class="header_logo-sub">DEBRIL Paul</span>
      </div>
      <div class="header_main">
        <ul class="header_links">
          <li class="header_link-wrapper">
            <a href="./" class="header_link"> Home </a>
          </li>
          <li class="header__link-wrapper">
            <a href="./#about" class="header_link">A propos </a>
          </li>
          <li class="header__link-wrapper">
            <a href="./#experience" class="header_link">Expérience </a>
          </li>
          <li class="header__link-wrapper">
            <a href="./#skills" class="header_link">Mes compétences</a>
          </li>
          <li class="header__link-wrapper">
            <a href="./#projects" class="header_link"> Projets </a>
          </li>
          <li class="header__link-wrapper">
            <a href="./#contact" class="header_link"> Contact </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
