<section id="experience" class="portfolio-mf bg-light sect-pt4 route">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 display-5 text-center">Expérience professionnelle</h2>
                    <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
        <div class="main-timeline">

            <!-- start experience section-->
            <div class="timeline">
                <div class="icon"></div>
                <div class="date-content">
                    <div class="date-outer">
                        <span class="date">
                            <span class="month">2 Ans</span>
                        <span class="year">2022</span>
                        </span>
                    </div>
                </div>
                <div class="timeline-content">
                    <h5 class="title">Alternant développeur web</h5>
                    <h6 class="subtitle">Aloatec - Calais</h6>
                    <p class="description">
                        Création, amélioration d'application web JEE 
                    </p>
                </div>
            </div>
            <!-- end experience section-->

            <!-- start experience section-->
            <div class="timeline">
                <div class="icon"></div>
                <div class="date-content">
                    <div class="date-outer">
                        <span class="date">
                        <span class="month">3 Ans</span>
                        <span class="year">2021</span>
                        </span>
                    </div>
                </div>
                <div class="timeline-content">
                    <h5 class="title">Etudiant en BUT Informatique</h5>
                    <h6 class="subtitle">Iut du littoral cote d'opal - Calais</h6>
                    <p class="description">
                        Parcours - réalisation d'applications : conception, développement, validation
                    </p>
                </div>
            </div>
            <!-- end experience section-->

            <!-- start experience section-->
            <div class="timeline">
                <div class="icon"></div>
                <div class="date-content">
                    <div class="date-outer">
                        <span class="date">
                                <span class="month">1 Mois</span>
                        <span class="year">2021</span>
                        </span>
                    </div>
                </div>
                <div class="timeline-content">
                    <h5 class="title">Administrateur système et réseaux</h5>
                    <h6 class="subtitle">Mairie de Loon Plage</h6>
                    <p class="description">
                        Lorem blabla blabla blabla
                    </p>
                </div>
            </div>
            <!-- end experience section-->

            <!-- start experience section-->
            <div class="timeline">
                <div class="icon"></div>
                <div class="date-content">
                    <div class="date-outer">
                        <span class="date">
                        <span class="month">3 ans</span>
                        <span class="year">2018</span>
                        </span>
                    </div>
                </div>
                <div class="timeline-content">
                    <h5 class="title">Baccalauréat Général</h5>
                    <h6 class="subtitle">EPID-VAUBAN - Dunkerque</h6>
                    <p class="description">
                        Mention assez bien section européene anglais<br>
                        Spécialités : Mathématique et Numériques et Sciences Informatiques
                    </p>
                </div>
            </div>
            <!-- end experience section-->

        </div>
    </div>
</section>