    <!-- ======= Portfolio Section ======= -->
    <section id="projects" class="portfolio-mf bg-light sect-pt4 route">
        <div class="container">
                <div class="row justify-content-md-center">
                  <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="mb-4 display-5 text-center">Projets</h2>
                    <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
                  </div>
                </div>
          <div class="row">
            <div class="col-md-4">
              <div class="work-box">
                <a href="assets/images/odysee1.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                  <div class="work-img">
                    <img src="assets/images/odysee1.png" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Odyssée Spatiale</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Développement jeu vidéo</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                    <button class="btn btn-primary modal-button" onclick="document.getElementById('modal1').style.display='block'">Voir plus</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="modal1">
                <div class="modal-content">
                    <span class="close" onclick="document.getElementById('modal1').style.display='none'">&times;</span>
                    <h2 class="modal-title">Odyssée Spatiale</h2>
                    <p class="modal-subtitle">Développement d'un jeu éducatif VR sur Unity</p>
                    <div class="tags">
                      <span class="tag">Unity</span>
                      <span class="tag">VR</span>
                      <span class="tag">C#</span>
                      <span class="tag">Blender</span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container page-top">
                                <div class="row">
                                    <!-- Répétez ce bloc pour chaque image que vous souhaitez afficher dans la galerie -->
                                    <div class="col-lg-11 col-md-5 col-xs-7 thumb justify-content-center">
                                      <img src="../../assets/images/odysee1.png" class="zoom img-fluid " alt="">
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex flex-column justify-content-center">
                            <p>Odyssée Spatiale est un jeu vidéo VR éducatif qui invite les joueurs à explorer le système solaire à bord d'un vaisseau spatial, entièrement modélisé sur Blender et développé sur Unity.
                               Ce projet de travail d'équipe combine une aventure captivante avec des objectifs pédagogiques, permettant aux utilisateurs de découvrir les merveilles de l'astronomie de manière 
                               interactive et immersive.</p>
                              <div class="col-md-3">
                              </div>
                        </div>
                    </div>
                </div>
            </div>
                       
            </div>
            <div class="col-md-4">
              <div class="work-box">
                <a href="../../assets/images/portfolio1.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                  <div class="work-img">
                    <img src="../../assets/images/portfolio1.png" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Portfolio</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Développement web</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <button class="btn btn-primary modal-button" onclick="document.getElementById('modal2').style.display='block'">Voir plus</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="modal2">
                <div class="modal-content">
                    <span class="close" onclick="document.getElementById('modal2').style.display='none'">&times;</span>
                    <h2 class="modal-title">Portfolio</h2>
                    <p class="modal-subtitle">Développement d'un portfolio</p>
                    <div class="tags">
                      <span class="tag">Angular</span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container page-top">
                                <div class="row">
                                    <!-- Répétez ce bloc pour chaque image que vous souhaitez afficher dans la galerie -->
                                    <div class="col-lg-11 col-md-5 col-xs-7 thumb justify-content-center">
                                      <img src="../../assets/images/portfolio1.png" class="zoom img-fluid " alt="">
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex flex-column justify-content-center">
                            <p>J'ai créé mon portfolio en ligne qui sert à la fois de vitrine pour mes projets et compétences techniques et de CV interactif détaillant mon parcours professionnel.
                              Ce site intuitif présente mes travaux de développement web, met en lumière mes collaborations en équipe, et illustre mes compétences acquises au fil de mes 
                              expériences. Il offre une vue complète de mon profil professionnel, de ma formation et de mes réalisations</p>
                              <div class="col-md-3">
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
              <div class="work-box">
                <a href="assets/images/detect1.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                  <div class="work-img">
                    <img src="assets/images/detect1.png" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Applications JEE</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Développement web</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <button class="btn btn-primary modal-button" onclick="document.getElementById('modal3').style.display='block'">Voir plus</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="modal3">
                <div class="modal-content">
                    <span class="close" onclick="document.getElementById('modal3').style.display='none'">&times;</span>
                    <h2 class="modal-title">Applications JEE</h2>
                    <p class="modal-subtitle">Développement/Maintien d'applications JEE</p>
                    <div class="tags">
                      <span class="tag">JEE</span>
                      <span class="tag">Tapestry</span>
                      <span class="tag">Hibernate</span>
                      <span class="tag">Spring</span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container page-top">
                                <div class="row">
                                    <!-- Répétez ce bloc pour chaque image que vous souhaitez afficher dans la galerie -->
                                    <div class="col-lg-11 col-md-5 col-xs-7 thumb justify-content-center">
                                      <img src="../../assets/images/detect1.png" class="zoom img-fluid " alt="">
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex flex-column justify-content-center">
                            <p>Durant mon alternance en tant que développeur web chez Aloatec, j'ai pris part à un ensemble de projets axés sur le développement, 
                              la refonte et la maintenance d'applications Java EE, utilisant principalement les frameworks Tapestry, Hibernate et Spring. 
                              Mes responsabilités comprenaient non seulement le développement de nouvelles fonctionnalités mais aussi la modernisation d'applications 
                              existantes pour améliorer leur performance et leur adaptabilité. En outre, j'ai géré le déploiement de ces solutions chez les clients, 
                              assurant une transition fluide et efficace. Cette expérience a été cruciale pour renforcer mes compétences en développement logiciel et en 
                              gestion de projet dans un environnement professionnel exigeant.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="col-md-4">
              <div class="work-box">
                <a href="assets/images/mathequizz1.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                  <div class="work-img">
                    <img src="assets/images/mathequizz1.png" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Mathéquizz</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Développement web</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <button class="btn btn-primary modal-button" onclick="document.getElementById('modal4').style.display='block'">Voir plus</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="modal4">
                <div class="modal-content">
                    <span class="close" onclick="document.getElementById('modal4').style.display='none'">&times;</span>
                    <h2 class="modal-title">Mathéquizz</h2>
                    <p class="modal-subtitle">Refonte et Amélioration d’un Site Web de Quizz en Équipe</p>
                    <div class="tags">
                      <span class="tag">Angular</span>
                      <span class="tag">NodeJS</span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container page-top">
                                <div class="row">
                                    <!-- Répétez ce bloc pour chaque image que vous souhaitez afficher dans la galerie -->
                                    <div class="col-lg-11 col-md-5 col-xs-7 thumb justify-content-center">
                                      <img src="../../assets/images/mathequizz1.png" class="zoom img-fluid " alt="">
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex flex-column justify-content-center">
                            <p>Lors de ce projet collaboratif, j'ai contribué à la refonte totale du style et de la logique du site web "Mathéquizz", spécialisé dans les quizz mathématiques. 
                              Face à un design initial vieillissant, nous avons opté pour une approche moderne, améliorant l'expérience utilisateur grâce à une interface visuellement attrayante 
                              et plus fonctionnelle. La logique du site a également été revue pour accroître l'efficacité des interactions et des performances.</p>
                            <p>Pour atteindre ces objectifs, j'ai travaillé avec une équipe de développeurs, utilisant Angular pour le développement frontend afin de profiter de ses
                              fonctionnalités dynamiques et interactives. Node.js a été choisi pour le backend</p>
                              <p> Ce projet en équipe a non seulement renforcé mes compétences techniques en Angular et Node.js mais a également affiné mes capacités de collaboration et 
                                de communication au sein d'un groupe dynamique.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
              <div class="work-box">
                <a href="assets/images/aloatec1.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                  <div class="work-img">
                    <img src="assets/images/aloatec1.png" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Refonte d'un site web</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Développement web</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <button class="btn btn-primary modal-button" onclick="document.getElementById('modal5').style.display='block'">Voir plus</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="modal5">
                <div class="modal-content">
                    <span class="close" onclick="document.getElementById('modal5').style.display='none'">&times;</span>
                    <h2 class="modal-title">Refonte d'un site web</h2>
                    <p class="modal-subtitle">Refonte su site web d'aloatec</p>
                    <div class="tags">
                      <span class="tag">Joomla</span>
                      <span class="tag">Figma</span>
                      <span class="tag">HTML</span>
                      <span class="tag">CSS</span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container page-top">
                                <div class="row">
                                    <!-- Répétez ce bloc pour chaque image que vous souhaitez afficher dans la galerie -->
                                    <div class="col-lg-11 col-md-5 col-xs-7 thumb justify-content-center">
                                      <img src="../../assets/images/aloatec1.png" class="zoom img-fluid " alt="">
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex flex-column justify-content-center">
                            <p>Lors de mon alternance chez Aloatec, j'ai eu l'opportunité de piloter la refonte totale de leur site web, une plateforme devenue obsolète avec le temps. 
                              Ce projet a débuté par une phase d'écoute active des besoins spécifiques de l'entreprise, me permettant de cerner les attentes et les objectifs à atteindre.
                               J'ai ensuite procédé à la création de wireframes et de maquettes pour visualiser la nouvelle structure du site, garantissant une navigation intuitive et une 
                               expérience utilisateur améliorée.</p>                          
                              <p>
                              Le développement a été réalisé avec le CMS Joomla, un choix stratégique pour une gestion de contenu efficace et adaptable. J'ai intégré des pratiques de SEO pour augmenter 
                              la visibilité du site et optimiser son référencement naturel. L'optimisation des performances était également au cœur de ce projet, assurant un chargement rapide des 
                              pages et une meilleure réactivité sur différents appareils.
                            </p>
                            <p>Enfin, j'ai supervisé le déploiement du site refondu, en veillant à une transition sans heurts pour les utilisateurs et en fournissant une formation nécessaire 
                              aux équipes d'Aloatec pour la gestion quotidienne du site. Ce projet de refonte a non seulement revitalisé la présence en ligne de l'entreprise mais a aussi 
                              renforcé mes compétences en développement web et en gestion de projet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section><!-- End Portfolio Section -->