    <!-- ======= Portfolio Section ======= -->
    <section id="projects" class="portfolio-mf bg-light sect-pt4 route">
        <div class="container">
                <div class="row justify-content-md-center">
                  <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="mb-4 display-5 text-center">Projets</h2>
                    <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
                  </div>
                </div>
          <div class="row">
            <div class="col-md-4">
              <div class="work-box">
                <a href="assets/images/work-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                  <div class="work-img">
                    <img src="assets/images/work-1.jpg" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Odyssée Spatiale</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Game dev</span> / <span class="w-date">2024</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                    <button class="btn btn-primary modal-button" onclick="document.getElementById('modal1').style.display='block'">Voir plus</button>
                    <!-- Modal -->
                    <div class="modal" id="modal1">
                        <div class="modal-content">
                        <span class="close" onclick="document.getElementById('modal1').style.display='none'">&times;</span>
                        <h2>Odyssée Spatiale</h2>
                        <p>Détails sur le projet Odyssée Spatiale...</p>
                        </div>
                    </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="work-box">
                <a href="assets/images/work-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                  <div class="work-img">
                    <img src="assets/images/work-2.jpg" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Portfolio</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Web Design</span> / <span class="w-date">2024</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <button type="button" class="btn btn-primary">Voir plus</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="work-box">
                <a href="assets/images/work-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                  <div class="work-img">
                    <img src="assets/images/work-3.jpg" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Application JEE</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Web Design</span> / <span class="w-date">2023-2024</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <button type="button" class="btn btn-primary">Voir plus</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="work-box">
                <a href="assets/images/work-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                  <div class="work-img">
                    <img src="assets/images/work-3.jpg" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Mathéquizz</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Web Design</span> / <span class="w-date">2023</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <button type="button" class="btn btn-primary">Voir plus</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="work-box">
                <a href="assets/images/work-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                  <div class="work-img">
                    <img src="assets/images/work-3.jpg" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Refonte site web</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Web Design</span> / <span class="w-date">2023-2024</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <button type="button" class="btn btn-primary">Voir plus</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Portfolio Section -->