    <!-- ======= Portfolio Section ======= -->
    <section id="projects" class="portfolio-mf bg-light sect-pt4 route">
        <div class="container">
                <div class="row justify-content-md-center">
                  <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="mb-4 display-5 text-center">Projets</h2>
                    <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
                  </div>
                </div>
          <div class="row">
            <div class="col-md-4">
              <div class="work-box">
                <a href="assets/images/odysee1.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                  <div class="work-img">
                    <img src="assets/images/odysee1.png" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Odyssée Spatiale</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Game dev</span> / <span class="w-date">2024</span>
                        <br>
                        <br>
                        <span class="badge rounded-pill bg-primary">Unity</span>
                        <span class="badge rounded-pill bg-primary">C#</span>
                        <span class="badge rounded-pill bg-primary">Blender</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                    <button class="btn btn-primary modal-button" onclick="document.getElementById('modal1').style.display='block'">Voir plus</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="modal1">
                <div class="modal-content">
                    <span class="close" onclick="document.getElementById('modal1').style.display='none'">&times;</span>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Galerie d'images -->
                                <div class="container page-top">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                                            <a href="../../assets/images/odysee1.png" class="fancybox" rel="ligthbox">
                                                <img src="../../assets/images/odysee1.png" class="zoom img-fluid " alt="">
                                            </a>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                                            <a href="../../assets/images/odysee1.png" class="fancybox" rel="ligthbox">
                                                <img src="../../assets/images/odysee1.png" class="zoom img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                                            <a href="../../assets/images/odysee1.png" class="fancybox" rel="ligthbox">
                                                <img src="../../assets/images/odysee1.png" class="zoom img-fluid " alt="">
                                            </a>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                                            <a href="../../assets/images/odysee1.png" class="fancybox" rel="ligthbox">
                                                <img src="../../assets/images/odysee1.png" class="zoom img-fluid " alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex flex-column justify-content-center">
                                <!-- Texte descriptif -->
                                <p>Développement d'un jeu éducatif VR sur Unity</p>
                            </div>
                        </div>
                </div>            
            </div>             
            </div>
            <div class="col-md-4">
              <div class="work-box">
                <a href="assets/images/work-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                  <div class="work-img">
                    <img src="assets/images/work-2.jpg" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Portfolio</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Web Design</span> / <span class="w-date">2024</span>
                        <br>
                        <br>
                        <span class="badge rounded-pill bg-primary">Angular</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <button type="button" class="btn btn-primary">Voir plus</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="work-box">
                <a href="assets/images/detect1.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                  <div class="work-img">
                    <img src="assets/images/detect1.png" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Application JEE</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Web Design</span> / <span class="w-date">2023-2024</span>
                        <br>
                        <br>
                        <span class="badge rounded-pill bg-primary">JEE</span>
                        <span class="badge rounded-pill bg-primary">Tapestry</span>
                        <span class="badge rounded-pill bg-primary">Hibernate</span>
                        <span class="badge rounded-pill bg-primary">HTML/CSS/JS</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <button type="button" class="btn btn-primary">Voir plus</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="work-box">
                <a href="assets/images/mathequizz1.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                  <div class="work-img">
                    <img src="assets/images/mathequizz1.png" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Mathéquizz</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Web Design</span> / <span class="w-date">2023</span>
                        <br>
                        <br>
                        <span class="badge rounded-pill bg-primary">Angular</span>
                        <span class="badge rounded-pill bg-primary">NodeJS</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <button type="button" class="btn btn-primary">Voir plus</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="work-box">
                <a href="assets/images/aloatec1.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                  <div class="work-img">
                    <img src="assets/images/aloatec1.png" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Refonte site web</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Web Design</span> / <span class="w-date">2022</span>
                        <br>
                        <br>
                        <span class="badge rounded-pill bg-primary">Joomla</span>
                        <span class="badge rounded-pill bg-primary">HTML/CSS</span>
                        <span class="badge rounded-pill bg-primary">SEO</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <button type="button" class="btn btn-primary">Voir plus</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Portfolio Section -->